# Environment variables
.env

# Dependencies
node_modules/

# SQLite database
database/*.db
database/*.db-shm
database/*.db-wal

# Logs
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# VS Code local settings
.vscode/